<?xml version="1.0"?>
<ruleset name="Sensei Status">
	<description>A custom set of code standard rules to check for WordPress themes and plugins.</description>

	<arg value="s"/>
	<arg value="p"/>
	<arg name="colors"/>

	<arg name="extensions" value="php"/>
	<file>.</file>

	<exclude-pattern>node_modules/</exclude-pattern>
	<exclude-pattern>vendor/</exclude-pattern>
	<exclude-pattern>tests/</exclude-pattern>
	<exclude-pattern>tmp/</exclude-pattern>
	<exclude-pattern>build/</exclude-pattern>
	<exclude-pattern>Views/</exclude-pattern>

	<!-- Configs -->
	<config name="minimum_supported_wp_version" value="4.9" />
	<config name="testVersion" value="5.6-"/>

	<!-- Rules -->
	<rule ref="PHPCompatibilityWP"/>
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />

	<rule ref="WordPress.Security.ValidatedSanitizedInput" />
	<rule ref="WordPress.DB.DirectDatabaseQuery" />

	<rule ref="Generic.Arrays.DisallowLongArraySyntax">
		<exclude-pattern>includes/class-sensei-lms-status-dependency-checker.php</exclude-pattern>
		<exclude-pattern>/sensei-lms-status.php</exclude-pattern>
	</rule>

	<rule ref="Generic.Arrays.DisallowShortArraySyntax">
		<include-pattern>includes/class-sensei-lms-status-dependency-checker.php</include-pattern>
		<include-pattern>/sensei-lms-status.php</include-pattern>
	</rule>

	<rule ref="VariableAnalysis" />

	<rule ref="WordPress.Files">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="sensei-lms-status" />
		</properties>
	</rule>

	<rule ref="Squiz.Commenting">
		<exclude-pattern>tests/</exclude-pattern>
		<exclude name="Squiz.Commenting.LongConditionClosingComment" />
		<exclude name="Squiz.Commenting.PostStatementComment" />
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment" />
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="sensei"/>
			</property>
		</properties>
	</rule>
</ruleset>
